<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <link rel="stylesheet" href="../css/bootstrap.min.css">
    </head>
    <body>
        <?php include('_navbar.html'); ?>
        <div style="text-align: left;">
            <img src="views/img/person-circle.svg"  width="30px" alt="Sa connecter en tant qu'administrateur" title="Se connecter en tant qu'admiinistrateur" />
            <a href="admin/auth.php" title="Se connecter en tant qu'administrateur">Admin</a>
        </div>
        <div style="text-align: end; ">
            <img src="views/img/box-arrow-right.svg" width="30px" alt="Deconnexion" title="Deconnexion" />
            <a href="config/logout.php" title="Déconnexion">Déconnexion</a>
        </div>
        <div class="card" style="width: 18rem; margin-left: auto; margin-right: auto;">
            <div class="card-header">
                Ajouter un employé
            </div>
            <div class="card-body">
                <form method="post" action="">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nom : </label>
                        <input type="text" class="form-control" name="nom" placeholder="Entrer le nom">
                    </div>
                    <div class="mb-3">
                        <label for="prenom" class="form-label">Prénom : </label>
                        <input type="text" class="form-control" name="prenom" placeholder="Entrer le prenom">
                    </div>
                    <div class="mb-3">
                        <label for="pass" class="form-label">Mot de passe : </label>
                        <input type="password" name="mdp" class="form-control" placeholder="Entrer le mot de passe">
                    </div>
                    <div class="mb-3">
                        <label for="pass" class="form-label">Confirmer le mot de passe : </label>
                        <input type="password" name="mdpconf" class="form-control" placeholder="Confirmer le mot de passe">
                    </div>
                    <input type="submit" value="Enregistrer" class="btn btn-primary" name="envoyer">
                    <p style="background-color: brown;"> <?php erreur($erreur) ?> </p>
                </form>
            </div>
        </div>
    </body>
</html>
